<a href="https://colab.research.google.com/github/Fleapous/Tensorflow/blob/main/GoogleColab/medical_cost/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Fleapous/Tensorflow/main/GoogleColab/medical_cost/insurance.csv?token=GHSAT0AAAAAAB6CASU5Q25Q6JSSS3ZG6FKOY6WYB6Q')

In [6]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
df['region'].describe()

count          1338
unique            4
top       southeast
freq            364
Name: region, dtype: object

In [11]:
region_dummie = pd.get_dummies(df['region'], drop_first=True)

In [12]:
insurance = df

In [13]:
insurance = insurance.join(region_dummie)

In [15]:
insurance.drop('region', axis=1, inplace=True)

In [16]:
insurance

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,female,27.900,0,yes,16884.92400,0,0,1
1,18,male,33.770,1,no,1725.55230,0,1,0
2,28,male,33.000,3,no,4449.46200,0,1,0
3,33,male,22.705,0,no,21984.47061,1,0,0
4,32,male,28.880,0,no,3866.85520,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,10600.54830,1,0,0
1334,18,female,31.920,0,no,2205.98080,0,0,0
1335,18,female,36.850,0,no,1629.83350,0,1,0
1336,21,female,25.800,0,no,2007.94500,0,0,1
1337,61,female,29.070,0,yes,29141.36030,1,0,0

In [21]:
sex_dummie = pd.get_dummies(df['sex'], drop_first=True)
smoker_dummie = pd.get_dummies(df['smoker'], drop_first=True)

In [24]:
insurance = insurance.join(sex_dummie)
insurance = insurance.join(smoker_dummie)
insurance.drop(['sex', 'smoker'], axis=1, inplace=True)

In [25]:
insurance

,age,bmi,children,charges,northwest,southeast,southwest,male,yes
0,19,27.900,0,16884.92400,0,0,1,0,1
1,18,33.770,1,1725.55230,0,1,0,1,0
2,28,33.000,3,4449.46200,0,1,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0
4,32,28.880,0,3866.85520,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,0,1,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,1,0,0,0
1336,21,25.800,0,2007.94500,0,0,1,0,0
1337,61,29.070,0,29141.36030,1,0,0,0,1

In [26]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1338 non-null   int64
 1   bmi        1338 non-null   float64
 2   children   1338 non-null   int64
 3   charges    1338 non-null   float64
 4   northwest  1338 non-null   uint8
 5   southeast  1338 non-null   uint8
 6   southwest  1338 non-null   uint8
 7   male       1338 non-null   uint8
 8   yes        1338 non-null   uint8
dtypes: float64(2), int64(2), uint8(5)
memory usage: 48.5 KB